@charset "utf-8";
@import "../sprite/sprite.css";
@font-face{
    font-family:'Nanum Gothic';
    font-style:normal;
    font-weight:400;
    src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype')
}
@font-face{
    font-family:'Nanum Gothic';
    font-style:normal;
    font-weight:700;
    src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
    src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype')
}
@font-face{
    font-family:'Nanum Gothic';
    font-style:normal;
    font-weight:800;
    src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
    src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'), url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype')
}
body{
    line-height:1.5em;
    background:#f6f6f6;
    font-size:12px;
    color:#666666;
    font-family:'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-text-size-adjust:none;
}
ol,
ul{
    list-style:none;
}
table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
}
a{
    color:inherit;
    text-decoration:none;
}
img{
    border:0;
}
button{
    border:0;
    background:none;
    cursor:pointer;
    *display:inline;
    *width:auto;
}
input,
button,
select,
a,
textarea{
    font-family:inherit;
    font-size:inherit;
    margin:0;
    padding:0;
}
input{
    vertical-align:middle;
}
input.text{
    height:28px;
    padding-left:5px;
    border:1px solid #aeaeae;
    box-sizing:border-box;
}
select{
    height:28px;
    box-sizing:border-box;
}
label{
    cursor:pointer;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    margin:0;
    padding:0;
}
/*custom*/

html{ font-size:62.5% }
html, body{ height:100% }
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, figure, label{ margin:0; padding:0; font-size:1.4rem; line-height:1.75rem; font-family:Avenir, 'Lato', "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔바른고딕", NanumBarunGothic, "나눔고딕", NanumGothic, "맑은 고딕", "Malgun Gothic", "돋움", dotum, AppleGothic, sans-serif; }
body, textarea, button, table{ -webkit-appearance:none }
body.s, .s input, .s textarea, .s select, .s button, .s table{ font-family:av55, Helvetica }
body{ background-color:#fff; color:#000; -webkit-text-size-adjust:none }
img, fieldset, textarea{ border:0 }
legend{ display:none }
ul{ list-style:none }
em, address{ font-style:normal }
a{ color:#000; text-decoration:none }
table{ border-collapse:collapse }
hr{ display:none !important }
.u_hc, .u_skip{ visibility:hidden; overflow:hidden; position:absolute; left:-999em; width:0; height:0; font-size:0; line-height:0 }
.blind, .u_vc{ overflow:hidden !important; position:absolute !important; left:-9999px; width:1px !important; height:1px !important; padding:0 !important; font-size:1px !important; line-height:1px !important; color:transparent !important }
/*custom*/
#wrap{ overflow:hidden; height:auto; }
[class*="icon"]{ zoom:.5; overflow:hidden; display:table-cell; vertical-align:middle; }
.header{ overflow:hidden; display:block; height:58px; }
.container{ min-height:1000px; background:#f6f6f6; }
.nav{ float:left; display:block; width:100%; height:58px; line-height:58px; background:#ffa409 }
.nav a{ overflow:hidden; display:inline-block; height:24px; vertical-align:middle }
.nav span{ display:table-cell; height:42px }
.nav .l_menu{ float:left; padding-left:14px; height:auto; }
.nav .r_menu{ float:right; padding-right:14px; height:auto; }
.nav .r_menu a:nth-of-type(1){ margin-right:14px; }
.nav .tit{ display:inline-block; padding:0 14px; color:#fff; font-size:18px; font-weight:400 }
.content{ overflow:hidden; height:auto }
.wrap_slider{ position:relative; overflow:hidden; height:320px; }
.wrap_slider .slide{ position:absolute; left:0px; top:0px; width:100%; height:100%; opacity:0; z-index:1; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; -o-transition:opacity 1s; transition:opacity 1s; }
.wrap_slider .show{ opacity:1; z-index:2; }
.wrap_slider .room_image{ height:auto }
.wrap_slider .room_image .cover{ background:no-repeat center center; width:100%; height:320px; background-size:cover; overflow-x:hidden; }
.notice{ overflow:hidden; display:block; padding:0 12px; height:45px; line-height:45px; background:#0ec4bf; }
.notice span{ display:inline-block; font-size:14px; color:#fff }
.notice .icon-ic_help_black{ float:right; display:inline-block; margin-top:24px; }
.detail{ padding:0 10px; }
.detail h3{ padding-left:5px; height:34px; line-height:34px; color:#616161; font-size:17px; font-weight:bold }
.detail .wrap_card{ margin-top:10px; }
.detail .card{ position:relative; border:1px solid #e1e1e1; height:auto; }
.detail .card .info{ padding:10px; background:#fff }
.detail dl{ overflow:hidden; display:block; background:#fff; text-align:left; }
.detail dt{ float:left; display:block; padding:10px; box-sizing:border-box; width:30%; height:40px; font-weight:bold; color:#6a6a6a; font-size:13px; line-height:15px; background:#fafafa }
.detail dd{ float:left; display:block; padding:10px; box-sizing:border-box; width:70%; height:40px; font-weight:bold; color:#000; line-height:15px; }
.detail .sep{ border-bottom:1px solid #e1e1e1 }
.detail strong{ display:inline-block; padding-right:8px; color:#ff7800; font-size:17px; font-weight:bold }
.detail .wrap_ic_realdata{ position:absolute; top:20px; right:15px; width:104px; height:46px }
.detail .icon-btn_realdata{ background-position:-220px -10px }
.detail .txt_area{ padding:5px 10px; background:#fff; font-size:13px; line-height:27px; }
.detail .building_info{ overflow:hidden; padding:10px; display:block; background:#fff; }
.detail .room_img{ float:left; box-sizing:border-box; display:inline-block; width:45%; height:140px }
.detail .room_desc{ float:left; padding-left:10px; box-sizing:border-box; display:inline-block; width:55%; height:140px }
.detail .room_desc .sep{ margin-bottom:5px; padding-bottom:5px; border-color:#eee; }
.detail .room_desc em{ font-size:17px; color:#000 }
.detail .room_desc span{ display:block; color:#333; font-size:13px; font-weight:bold; line-height:20px; }
.detail .law_notify{ margin:10px 0 10px; padding:6px; background:#848484; line-height:47px; }
.detail .law_notify span{ display:block; color:#fff; font-size:12px; font-weight:400; line-height:22px; }
.detail .map{ position:relative; display:block; width:100%; height:250px }
.detail .btn_layer{ position:absolute; width:100%; display:block; bottom:0; z-index:10000; background:#fff; height:40px; text-align:center }
.detail .btn_layer a{ float:left; border:1px solid #999; box-sizing:border-box; display:block; width:50%; height:40px; line-height:40px; font-size:16px }
.detail .btn_layer span{ display:inline-block; margin:10px; }
.detail .people{ background:#fff; padding:10px; }
.detail .people .info{ overflow:hidden; display:block; padding:0; margin-bottom:10px; }
.detail .people .pic{ float:left; display:inline-block; }
.detail .people .txt{ float:left; display:inline-block; padding-left:8px; width:60%; font-size:13px; line-height:20px; color:#333 }
.detail .people .txt span{ display:block }
.detail .people p{ overflow:hidden; display:block; margin-bottom:5px; padding:5px 3px; border-top:0.5px solid; border-bottom:0.5px solid; border-color:#eee; font-size:14px; font-weight:bold; }
.detail .people span{ line-height:20px; }
.detail .people li:before{ top:-1px; margin:4px; content:' '; display:inline-block; width:1px; height:1px; border-radius:2px; border:1px solid #000; }
.contact{ overflow:hidden; padding:16px; height:auto; background:#fff; border-top:solid 1px #d5d5d5 }
.contact .info{ float:left; box-sizing:border-box; width:50%; line-height:20px; }
.contact .call{ float:left; box-sizing:border-box; width:50%; height:58px; text-align:center; line-height:58px; border-radius:82px; background:#ff5200 }
.contact .call .btn_call{ width:164px; }
.contact .call .txt{ font-size:23px; color:#fff; font-weight:bold; }
.contact .company{ font-size:12px; color:#666 }
.contact .assistant{ font-size:14px; color:#000 }
.contact .number{ font-size:13px; font-weight:bold; color:#ff7800 }
.contact .number b{ position:relative; top:-3px; left:5px; display:inline-block; padding:0 2px; height:14px; line-height:14px; background:#eee; border:1px solid #999; color:#666; font-size:9px; }
.contact .icon-ic_call_black{ position:relative; top:-5px; display:inline-block; padding-right:8px; }




